* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(view/daniel-tuttle-khAuelKVnRg-unsplash.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

main {
    width: 20vw;
    height: 50vh;
    margin: auto;
    background-color: rgba(119, 136, 153, 0.486);
    margin-top: 25vh;
    border-radius: 35px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main form label, input {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: antiquewhite;
    font-size: 25px;
    border-radius: 35px;
    border: none;
}

main form input:focus {
    outline: 3px solid antiquewhite;
    background-color: lightgray;
    color: black;

}

main form .btn {
    width: 30%;
    height: 30px;
    border-radius: 20px;
    border: none;
    color: antiquewhite;
    font-size: 15px;
    background-color: darkslategray;
}

main form .btn:hover {
    background-color: antiquewhite;
    color: darkslategray;

}